body {
    padding: 2% 2% 1% 2%;
    max-width: 80%;
    margin: auto;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.persistent_underline {
    text-decoration: underline;
}