* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2% 2% 1% 2%;
    max-width: 80%;
    margin: auto;
}

p {
    margin: 2%;
}

h1 {
    color: white;
    background-color: #c70000;
    text-align: right;
    padding: 2%;
    font-size: 2.5rem;
    margin: -2% -2% 0% -2%;
}

img {
    position: relative;
    width: 100%;
    margin: 0%;
}

article {
    font-size: 1.4rem;
    text-align: justify;
    padding: 2%;
    background-color: #f9faf5;
    margin-top: 0%;
    margin-bottom: 0%;
}

article p {
    line-height: 2.5rem;
}