body {
    background-color: antiquewhite;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
}

th {
    padding: 20px;
}

img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

table, th, td {
    border: 1px solid brown;
    background-color: white;
}

.header {
    font-size: 2rem;
}

.content {
    display: block;
}

.card {
    border: 2px solid brown;
    width: 200px;
    height: 280px;
    float: left;
    margin: 30px;
}

.card:hover {
    border: 2px solid #8b8b8b;
}

.container {
    padding: 2px 16px;
}

.footer {
    padding: 20px;
    text-align: center;
}