body {
    padding: 2% 2% 1% 2%;
    max-width: 80%;
    margin: auto;
    font-size: 1.3rem;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
    text-decoration-color: darkcyan;
}

.persistent_underline {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.orange_header {
    color: #E95420;
}

.orange_table th {
    background-color: #E95420;
    color: white;
    border: 1px solid #E95420;
}

.orange_table td {
    border: 1px solid #E95420;
}

.purple_header {
    color: purple;
}

.purple_table th {
    background-color: purple;
    color: white;
    border: 1px solid purple;
}

.purple_table td {
    border: 1px solid purple;
}

form {
    padding: 20px;
    border: 1px solid #dddddd;
}

label, input {
    margin: 10px 0px 10px 0px;
}

button {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}